<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/changePass.css">
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <form method="post" action="/changed">
                <table>
                    <tr id="logo-row">
                        <td colspan="2"><img src="/images/logo.jpeg">
                        </td>
                    </tr>
                    <tr>
                        <td><label>Email:</label></td>
                        <td><input type="email" name="email" id="email" class="text-feild" required></td>
                    </tr>
                    <tr>
                        <td><label>Old Password:</label></td>
                        <td><input type="text" name="oldPassword" id="oldPassword" class="text-feild" required></td>
                    </tr>
                    <tr>
                        <td><label>New Password:</label></td>
                        <td><input type="text" name="newPassword" id="newPassword" class="text-feild" required></td>
                    </tr>
                    <tr>
                        <td><label>Confirm Password:</label></td>
                        <td><input type="text" name="confirmPassword" id="confirm_Password" class="text-feild" required>
                        </td>
                    </tr>
                    <tr id="sub">
                        <td colspan="2"><input type="submit" value="Change Password" id="submit"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>

</html>