body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('/images/employee.jpg');
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    height: 300px;
}

.wrapper .container {
    width: 350px;
    background-color: rgb(235, 241, 221);
    border-radius: 30px;
    padding-bottom: 20px;
}

.container #logo-row img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.container #logo-row p {
    line-height: 0px;
    font-size: 18px;
}

table #submit {
    text-align: center;
}

table #submit input[type=submit] {
    width: 45%;
    height: 40px;
    border-radius: 10px;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}

table #submit input[type=submit]:hover {
    color: white;
    background-color: rgb(113, 226, 241);
    border-color: rgb(113, 226, 241);
}

table tr,
td {
    vertical-align: center;
    text-align: center;
}

table {
    border-spacing: 0 10px;
    width: 100%;
}

form {
    width: 100%;
}

form table .text-feild {
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

table .text-feild input {
    height: 30px;
    outline: none;
    border: none;
}

table .text-feild input:focus {
    outline: none;
    border: none;
    height: 30px;
}

#for-change-pass a {
    text-decoration: none;
    color: blue;
}

#password {
    margin-left: -25px;
}

#for-change-pass a:hover {
    color: rgb(26, 163, 201);
}

#register a {
    text-decoration: none;
}

#register #reg-btn {
    height: 40px;
    width: 200px;
    border: solid 2px rgb(26, 163, 201);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: blue;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    transform: translate(-50%);
}

#register #reg-btn:hover {
    color: white;
    background-color: rgb(90, 201, 226);
    border-color: rgb(90, 201, 226);
}